html
  include ./meta.jade

  head
    link(rel="stylesheet", type="text/css", href="/assets/all-styles.css")

    link(rel="apple-touch-icon-precomposed",
         href="/assets/img/icon-120x120.png",
         sizes="120x120")

    link(rel="apple-touch-startup-image",
         href="/assets/img/startup-640x1096.png",
         media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)")

    title Spirit Guide

  body
    div(id="iphone-status-bar-spacer")
    div(id="iphone-status-bar-app-wrapper")
      div(id="app-root" class="root")
      div(id="pushover-root" class="root overlay")
      div(id="modal-root" class="root overlay")
      div(id="flyup-root" class="root overlay")
      div(id="main-loading-overlay" class="root fade-in")
        div(class="centering-wrapper")
          i(class="fa fa-refresh fa-spin")
      //- Note that this has to come last, so all the necessary containers exist.
    script(type="text/javascript", src="/assets/app-init.js")
