html
  include ./meta.jade

  head
    link(rel="stylesheet", type="text/css", href="/assets/all-styles.css")

    link(rel="apple-touch-icon-precomposed",
         href="/assets/img/icon-120x120.png",
         sizes="120x120")

    link(rel="apple-touch-startup-image",
         href="/assets/img/startup-640x1096.png",
         media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)")

    title Error | Spirit Guide

  body
    div(id="#fail-whale")
      | Something terrible has happened.
