html
  head
    link(rel="stylesheet", type="text/css", href="/main.css")

  body
    script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.js")
    script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/bluebird/2.9.9/bluebird.js")
    script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/react/0.12.2/react.js")
    script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.2.0/lodash.js")
    script(type="text/javascript", src="https://rawgit.com/facebook/flux/master/dist/Flux.js")
    script(type="text/javascript", src="https://rawgit.com/jeromeetienne/microevent.js/master/microevent.js")
    script(type="text/javascript", src="/dispatcher.js")
    script(type="text/javascript", src="/stores.js")
    script(type="text/javascript", src="/FluxMixin.js")
    script(type="text/javascript", src="/ingredients.js")
