html
  meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")

  head
    link(rel="stylesheet", type="text/css", href="/all-styles.css")
    //- TODO: Why doesn't the stylus compiler properly bring in CSS when the option is provided?
    link(rel="stylesheet", type="text/css", href="/styles/font-awesome.css")

  body
    script(type="text/javascript", src="all-scripts.js")
