html
  meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")

  head
    link(rel="stylesheet", type="text/css", href="/all-styles.css")
    //- TODO: Why doesn't the stylus compiler properly bring in CSS when the option is provided?
    link(rel="stylesheet", type="text/css", href="/styles/font-awesome.css")

  body
    script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.js")
    script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/bluebird/2.9.9/bluebird.js")
    script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.2.0/lodash.js")
    script(type="text/javascript", src="https://rawgit.com/facebook/flux/master/dist/Flux.js")
    script(type="text/javascript", src="https://rawgit.com/jeromeetienne/microevent.js/master/microevent.js")
    script(type="text/javascript", src="all-scripts.js")
