meta(name="viewport", content="width=device-width, initial-scale=0.5, maximum-scale=0.5, user-scalable=no")
meta(name="apple-mobile-web-app-capable", content="yes")
meta(name="apple-mobile-web-app-orientations", content="portrait")
meta(name="apple-mobile-web-app-status-bar-style", content="black-translucent")
