html
  include ./meta.jade

  head
    link(rel="stylesheet", type="text/css", href="/assets/all-styles.css")

    title !{recipe.name} | !{Constants.APP_NAME}

  body
    div(id="app-root")
    //- Note that this has to come last, so all the necessary containers exist.
    script(type="text/javascript").
      window.recipeData = !{JSON.stringify(recipe)};
    script(type="text/javascript", src="/assets/recipe-init.js")
