@require '../shared/animation'

.editable-recipe-page
  background: #fff
  height: 100%

  input
    width: 100% // display: block doesn't do it (for some reason), and otherwise isn't necessary here

  .navigation-header
    display: flex
    flex-direction: row
    line-height: 44px

    .fa-times
      margin-left: auto
      width: 44px

    .back-button
      flex-grow: 1
      padding: 0 8px
      white-space: nowrap
      overflow: hidden
      text-overflow: ellipsis // REMOVE: we should remove the quote marks from the code, do them with :pseudo-elements

      .fa-chevron-left
        margin-right: 8px

  .fixed-content-pane
    padding: 0 8px

    .page-title
      font-size: 20px
      margin: 8px 0

  .next-button
    display: flex
    justify-content: flex-end
    padding: 0 12px
    line-height: 44px
    font-size: 18px
    text-transform: uppercase
    transition: color $transition-duration-quick-ish

    &.disabled
      color: #999

    .fa
      margin-left: 12px
      font-size: 20px


.editable-recipe-page.name-page
  .fixed-content-pane
    width: 80%
    align-self: center
    display: flex
    flex-direction: column
    justify-content: center
    font-size: 20px
    margin-bottom: 44px // adjusts center to account for top bar

    input
      border: 1px solid #eee
      padding: 10px


.editable-recipe-page.ingredients-page
  .ingredients-list
    margin-bottom: 10px

    // Unfortunate: deletable, arguably rightfully, doesn't promote the class names of the things is wraps,
    // but to make nth-child work, we need to select it explicitly. Ah well. :(
    > .deletable
      background: #eee

      &:nth-child(even)
        background: #d8d8d8

  .editable-ingredient
    padding: 0 12px 12px 12px
    line-height: 44px

    .input-line
      display: flex
      flex-direction: row

      .done-button // TODO: separate from input
        padding: 0 12px
        text-transform: uppercase
        font-size: 14px
        font-weight: 600
        opacity: 1
        transition: opacity $transition-duration-quick-ish

        > *
          display: inline

        &.disabled
          opacity: 0

        i.fa
          padding-left: 6px

    .ingredient-list-header // TODO: associate with the list, somehow (:before?)
      font-size: 11.2px
      line-height: 18px
      font-weight: 600
      text-transform: uppercase;

    .ingredient-group-list
      background: #ccc
      max-height: 200px
      overflow-y: scroll
      -webkit-overflow-scrolling: touch

      .section-separator
        background-color: #555
        height: 1px

      .list-item
        margin-top: 1px
        padding-left: 16px
        background: #ddd
        color: #555

        .fa-times-circle // TODO: standardize behavior (.is-selected vs injected)
          text-shadow: 0 0 4px rgba(0,0,0,.25)
          float: right
          display: block
          width: 44px

  .new-ingredient-button
    background: #4a4a4a
    line-height: 44px
    text-align: center
    color: #d8d8d8

    &.disabled // TODO: maybe opacity instead?
      color: #a8a8a8

    .fa
      margin-right: 6px


.editable-recipe-page.base-tag-page
  .list-item
    padding: 0 12px
    border-bottom: 1px solid #f2f2f2

    &:last-child
      border: 0


.editable-recipe-page.text-page
  .fixed-content-pane
    padding: 0 24px

    textarea
      display: block
      margin: 12px 0 0 0
      width: 100%
      height: 150px
      padding: 6px
      border: 1px solid #eee


.editable-recipe-page.preview-page
  > .fixed-content-pane
    display: flex

    .recipe-view
      height: auto
      flex: 1
