@require '../shared/animation'

.editor-landing-page
  background: #fff
  height: 100%

  .fixed-content-pane
    padding: 0
    align-items: center
    display: flex
    flex-direction: column
    justify-content: center
    font-size: 20px
    margin-bottom: 44px // adjusts center to account for top bar

    input
      border: 1px solid #eee
      padding: 10px

  .add-recipe-section
    padding: 0 5%
    width: 100%
    flex: 1
    display: flex
    flex-direction: column
    justify-content: center
    transition: flex $transition-duration-quick-ish

    .section-title
      margin: 8px 0

    &:not(:last-child)
      border-bottom: 1px solid #ccc

    &.is-expanded
      flex: 3
