.ingredient-selection-view // RENAME
  background: #393939

  .fixed-header
    shadow('bottom', 2px, #222)
    z-index: 1

    .title, .fa
      color: #fff

  .fixed-content-pane
    background: #434343

    .search-bar
      background: #393939
      margin-bottom: 1px

      .fa
        color: #aaa

      .search-input
        color: #eee

    .empty-list-text
      color: #aaa
