.landing
  flex: 1
  display: flex
  flex-direction: column

  .title-bar, .search-bar
    flex-shrink: 0

  .title-bar.with-ingredients
    .title
      display: flex
      flex-direction: column
      line-height: initial

      .lead-in
        font-weight: 400
        font-size: 12px
        padding-top: 4px

      .ingredient-names
        padding-bottom: 4px

      .ingredient-name:not(:last-child):after
        content: ', '

  .random-cocktail
    flex: 1
    display: flex
    flex-direction: column

    .random-cocktail-header
      text-transform: uppercase
      margin: 10px
      padding: 0 10px 10px
      font-weight: 600
      color: #aaa
      border-bottom: 1px solid #ddd

  .category-header
    color: white
    background-color: rgba(0, 0, 0, 0.1)
    text-transform: uppercase
    position: sticky
    top: 0
    padding-left: 10px

  .list-item.ingredient
    padding-left: 10px
    color: white

  .recipe-list-item
    font-weight: 600
    color: white

  .empty-list-text, .centered-list-text
    font-weight: 600
    color: white

  .blur-overlay
    flex: 1

    .child-container
      display: flex
      flex-direction: column

    .all-search-results-list
      overflow-y: auto

