@require '../shared/size'

.landing
  flex: 1
  display: flex
  flex-direction: column

  .title-bar, .search-bar-wrapper
    flex-shrink: 0

  .title-bar.with-ingredients
    $top-padding = 6px

    padding-top: $top-padding
    line-height: $base-touch-size - $top-padding

    .title
      display: flex

      .ingredient-names
        display: flex

      .ingredient-name
        display: flex
        align-items: center
        flex-grow: 0
        padding: 0 12px
        border-radius: 3px
        background-color: rgba(0, 0, 0, 0.2)
        text-transform: uppercase
        font-size: 18px
        height: $base-touch-size - $top-padding
        margin-right: 6px
        white-space: nowrap
        overflow: hidden
        text-overflow: ellipsis

        i.fa
          width: auto
          color: white
          margin-left: 6px

  .search-bar-wrapper
    display: flex
    background-color: #676767
    align-items: center

    .search-bar
      flex: 1

    .close-button
      font-weight: 600
      color: white
      font-size: 16px
      width: 44px
      padding-right: 6px
      transition: width 300ms, padding-right 300ms

      &:not(.is-visible)
        width: 0
        padding-right: 0
        pointer-events: none

  .random-recipe
    flex: 1
    display: flex
    flex-direction: column

    .random-recipe-header
      text-transform: uppercase
      margin: 10px
      padding: 0 10px 10px
      font-weight: 600
      color: #999
      border-bottom: 1px solid #ddd
      text-align: center

    .interactive-recipe
      flex: 1

  .category-header
    color: white
    background-color: rgba(0, 0, 0, 0.1)
    text-transform: uppercase
    padding-left: 10px

  .list
    color: white

    .list-item
      margin-left: 5px
      margin-right: 5px
      padding: 0 5px

      &:not(:last-child)
        border-bottom: 1px solid rgba(255, 255, 255, 0.2)

  .background-recipe-list
    color: #444
    overflow-y: auto
    -webkit-overflow-scrolling: touch

  .foreground-recipe-list .ingredient-list
    color: rgba(255, 255, 255, 0.7)

  .foreground-ingredient-list
    .ingredient-list-item
      font-weight: 600

      &.is-selected
        pointer-events: none

  .blur-overlay
    flex: 1

    .child-container
      display: flex
      flex-direction: column

    .all-search-results-list
      overflow-y: auto
      -webkit-overflow-scrolling: touch

