$header-background-color = #676767

.recipe-list-view
  .fixed-header
    z-index: 1 // for the arrow

    .title-bar
      // Just the top half -- the rest will be done with gradients.
      background: $header-background-color
      color: #eee

      img
        padding: 0 10px

      i.fa
        font-size: 16px
        color: #eee

      .title
        display: flex
        align-items: center
        justify-content: center

        i.fa
          font-size: 12px
          width: 32px
          margin-right: -32px

    .base-liquor-container
      background-image: linear-gradient(-45deg, transparent calc(50% - 10px), $header-background-color calc(50% - 10px)),
                        linear-gradient(-135deg, $header-background-color calc(50% + 10px), transparent calc(50% + 10px))
      line-height: 44px
      color: #c7c7c7
      font-weight: 600
      font-size: 18px
      text-transform: uppercase

      .base-liquor-option
        width: 25%
        text-align: center

        &.selected
          color: #fff

  .fixed-content-pane
    margin-top: -8px // to get under the arrow
    padding-top: 8px // and adjusting for that
    background: #fff

    .search-bar
      border-bottom: 1px solid #eee

    .list
      background: #eee

      .list-header
        margin: -1px 0 0 0
        padding-left: 5px
        height: 1px
        background: #f00
        background: linear-gradient(to right, #fff 18px, #999 18px, #999 calc(100% - 8px), #fff calc(100% - 8px))
        font-size: 13px
        line-height: 0

      .empty-list-text
        background: #fff
