@require '../shared/mixins'

.recipe-image
  position: relative
  height: 200px

  .layer
    height: 100%

    // These four are centering black magic.
    position: absolute
    left: 0
    right: 0
    margin: auto

    &.color
      mask-size: contain
      mask-repeat: no-repeat
