.swipable-recipe-container
  height: 100%
  padding: 10px 0

  .swipable-padding-wrapper // REMOVE: .swipable-positioning-wrapper
    width: 94%
    padding: 0 1% // TODO: if we add margin calc to Swipable, we could remove this too (put it all on .recipe-view)

    .recipe-view
      height: 100%
      box-shadow: 0 1px 2px 2px rgba(0, 0, 0, 0.25)

// Apple what the fuck, why does the iPhone 6 have an odd number of pixels? This causes rounding issues
// where the CSS has accurate half-pixel widths, but the javascript controlling the swiping is receiving
// rounded-up values, causing the spacing/translation to eventually diverge.
@media only screen and (width: 375px)
  .swipable-recipe-container .swipable-padding-wrapper
    width: calc(94% - 0.5px)

.icon-button
  display: flex
  justify-content: center
  align-items: center

  .fa
    margin-right: 6px

  .label
    font-size: 16px

$header-border = 1px solid #ddd

.recipe-view
  background-color: #fff

.recipe-view .fixed-header
  border-bottom: $header-border

  i.fa.fa-times
    width: 44px
    display: flex
    justify-content: center
    align-items: center
    border-left: $header-border

.recipe-view .fixed-footer
  display: flex
  height: 44px
  border-top: $header-border

  .icon-button
    flex: 1
    text-transform: uppercase

    &:not(:last-child)
      border-right: $header-border

.recipe-view .fixed-content-pane
  padding: 8px 8px 0 8px
  line-height: 1.25
  display: flex
  flex-direction: column

  .recipe-ingredients
    display: table
    width: 100%

  .recipe-instructions
    margin: 12px 0
    padding: 0 18px 10px 2em
    counter-reset: item
    list-style: none

    li // TODO: add hook for instructions that have only one step
      margin: 0 0 10px 0

      &:before // allows for colored numbers w/o extra element
        margin-left: -1.25em
        padding-right: 0.25em
        content: counter(item) '. '
        counter-increment: item
        color: #999
        font-weight: 600

  .recipe-notes
    margin: 5px
    color: #444
    font-style: italic

  .recipe-url
    align-self: flex-end
    font-size: 1.1em
    text-decoration: none
    color: #333
    margin-right: 8px
    // Make it a nice big touch target.
    height: 44px
    line-height: 44px

    .lead-in
      color: #aaa
      margin-right: 8px
      font-size: 0.8em
      text-transform: uppercase

    i.fa
      margin-left: 8px
      font-size: 0.8em

  .similar-recipes
    .header
      text-transform: uppercase
      border-bottom: 1px solid #bbb
      padding: 10px 5px

    .recipe
      font-size: 16px
      font-weight: 600
      line-height: 44px
      padding: 0 5px

      &:not(:last-child)
        border-bottom: 1px solid #bbb

