@require '../shared/mixins'

.recipe-list-selector
  background-color: #eee
  text-align: center
  width: 60%
  margin: 0 auto
  border-bottom-left-radius: 2px
  border-bottom-right-radius: 2px
  box-shadow 0 1px 3px 3px rgba(0, 0, 0, 0.25)

  .option
    font-size: 20px
    line-height: 44px
    border-bottom: 1px solid #ddd
    margin: 0 20px

    &.is-selected
      font-weight: 600

