@require '../shared/mixins'

.ingredients-sidebar
  background-color: #393939
  color: #ddd
  height: 100%
  position: relative
  display: flex
  flex-direction: column

  .search-bar
    shadow('bottom', 3px)
    z-index: 1
    background: #393939

    .fa
      color: #aaa

    .search-input
      color: #eee

  .empty-list-text
    color: #aaa

  .grouped-ingredient-list
    flex: 1
    overflow: scroll
    background: #434343
    -webkit-overflow-scrolling: touch
