@require '../shared/animation'
@require '../shared/mixins'

$item-height = 44px
$items-above-ingredients-list = 2

$divider-color = lighten(#393939, 10%)

.sidebar-menu
  background-color: #393939
  color: #ddd
  height: 100%

  .return-button, .ingredients-button, .include-all-drinks, .include-all-drinks
    height: $item-height
    line-height: $item-height

  .return-button, .ingredients-button
    border-bottom: 1px solid $divider-color

  .ingredients-button, .include-all-drinks
    padding-left: 8px

  .return-button
    text-align: right
    text-transform: uppercase
    font-size: 0.9em

    .text
      margin-right: 8px

    i.fa
      margin-right: 8px

  .ingredients-button
    position: relative

    svg
      vertical-align: middle
      margin-top: -9px

      path
        fill: #999

    .text
      margin-left: 8px

    .count
      padding: 0 4px
      position: absolute
      top: 13px
      right: 13px
      min-width: 18px
      line-height: 18px
      background: #4a4a4a
      border-radius: 4px
      font-size: 14px
      font-weight: 700
      text-align: center

    z-index: 1
    box-shadow: none
    transition: box-shadow $transition-duration

    &.showing-list
      shadow('bottom', 3px)

  .expanding-ingredients-wrapper
    height: 0
    overflow: scroll
    transition: height $transition-duration
    background: #434343
    position: relative
    -webkit-overflow-scrolling: touch

    .search-bar
      background: #393939
      margin-bottom: 1px

      .fa
        color: #aaa

      .search-input
        color: #eee

    .empty-list-text
      color: #aaa

    &.visible
      height: "calc(100% - %s)" % ($items-above-ingredients-list * $item-height)

  .include-all-drinks
    display: flex
    justify-content: space-between
    align-items: center
    padding-right: 8px
    border-bottom: 1px solid $divider-color
