@require '../shared/mixins'

.standalone-recipe
  height: 100%
  display: flex
  flex-direction: column

  .recipe-name
    border-bottom: 1px solid #ddd

  .homepage-link
    display: block

    background-color: #676767
    color: #eee
    shadow('bottom', 1px)
    position: relative

    padding-left: 30px

    i.fa
      font-size: 14px
      width: 30px
