@require '../shared/mixins'

.standalone-recipe .homepage-link
  display: block

  background-color: #676767
  color: #eee
  shadow('bottom', 1px)
  position: relative

  padding-left: 30px

  i.fa
    font-size: 14px
    width: 30px
