.swipable-recipes-container
  height: 100%
  padding: 10px 0

  .swipable-padding-wrapper // REMOVE: .swipable-positioning-wrapper
    width: 94%
    padding: 0 1% // TODO: if we add margin calc to Swipable, we could remove this too (put it all on .interactive-recipe)

    .interactive-recipe
      height: 100%
      background-color: white
      box-shadow: 0 1px 2px 2px rgba(0, 0, 0, 0.25)

// Apple what the fuck, why does the iPhone 6 have an odd number of pixels? This causes rounding issues
// where the CSS has accurate half-pixel widths, but the javascript controlling the swiping is receiving
// rounded-up values, causing the spacing/translation to eventually diverge.
@media only screen and (width: 375px)
  .swipable-recipes-container .swipable-padding-wrapper
    width: calc(94% - 0.5px)
