$text-width = 10px
$header-padding = 8px

.list-header.thin-header
  margin: -1px 0 0 0
  padding-left: 5px
  height: 1px
  font-size: 13px
  line-height: 0
  background: linear-gradient(to right,
    rgba(0, 0, 0, 0) ($text-width + $header-padding),
    #999 ($text-width + $header-padding),
    #999 "calc(100% - %s)" % $header-padding,
    rgba(0, 0, 0, 0) "calc(100% - %s)" % $header-padding)

  &:first-child
    margin-top: 8px
