.list-header.thin-header
  margin: -1px 0 0 0
  padding-left: 5px
  height: 1px
  background: linear-gradient(to right, #fff 18px, #999 18px, #999 calc(100% - 8px), #fff calc(100% - 8px))
  font-size: 13px
  line-height: 0
