@require './size'

// Need to do awkward thing to negate variables: https://github.com/LearnBoost/stylus/issues/980
shadow(position, size = 2px, color = rgba(0, 0, 0, 0.25))
  if position == 'top'
    box-shadow 0px (- (size + 2px)) (size + 2px) -2px color
  else if position == 'bottom'
    box-shadow 0px (size + 2px) (size + 2px) -2px color
  else if position == 'left'
    box-shadow (- (size + 2px)) 0px (size + 2px) -2px color
  else if position == 'right'
    box-shadow (size + 2px) 0px (size + 2px) -2px color

shadow-inset(position, size = 2px, color = rgba(0, 0, 0, 0.25))
  if position == 'top'
    box-shadow inset 0px (size + 2px) (size + 2px) -2px color
  else if position == 'bottom'
    box-shadow inset 0px (- (size + 2px)) (size + 2px) -2px color
  else if position == 'left'
    box-shadow inset (size + 2px) 0px (size + 2px) -2px color
  else if position == 'right'
    box-shadow inset (- (size + 2px)) 0px (size + 2px) -2px color

abs-full-screen()
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%

pad-top-for-iphone-status-bar()
  /body[standalone] &
    padding-top: $ios-top-bar-height
