shadow(position, size, color = rgba(0, 0, 0, 0.25))
  if position == 'top'
    box-shadow 0px (- size) size 0px color
  else if position == 'bottom'
    box-shadow 0px size size 0px color
  else if position == 'left'
    box-shadow (- size) 0px size 0px color
  else if position == 'right'
    box-shadow size 0px size 0px color

// Need to do awkward thing to negate variables: https://github.com/LearnBoost/stylus/issues/980
shadow-inset(position, size, color = rgba(0, 0, 0, 0.25))
  if position == 'top'
    box-shadow inset 0px size size 0px color
  else if position == 'bottom'
    box-shadow inset 0px (- size) size 0px color
  else if position == 'left'
    box-shadow inset size 0px size 0px color
  else if position == 'right'
    box-shadow inset (- size) 0px size 0px color

abs-full-screen()
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
