@require '../shared/mixins'

.blur-overlay
  position: relative

  .backdrop, .child-container
    abs-full-screen()

  .backdrop
    opacity: 0
    transition: opacity 500ms

    &.is-dark
      background-color: black

  .child-container
    &.foreground
      opacity: 0
      transition: opacity 500ms

    &.background
      transition: filter 500ms

  .child-container.foreground, .backdrop
    pointer-events: none

  &.with-foreground

    .child-container.foreground > *, .backdrop
      pointer-events: auto

    .backdrop
      opacity: 0.4

    .child-container
      &.foreground
        opacity: 1

      &.background
        filter: blur(10px)
        z-index: -1
