@require '../shared/mixins'

.blur-overlay
  position: relative

  .dark-overlay, .child-container
    abs-full-screen()

  .dark-overlay
    opacity: 0
    transition: opacity 500ms
    pointer-events: none
    background-color: black

  .child-container
    &.foreground
      opacity: 0
      transition: opacity 500ms
      pointer-events: none

    &.background
      transition: filter 500ms

  &.with-foreground
    .dark-overlay
      opacity: 0.3

    .child-container
      &.foreground
        opacity: 1
        pointer-events: initial

      &.background
        filter: blur(10px)
