.button-bar
  display: flex
  height: 44px

  .button
    flex: 1
    text-transform: uppercase
    display: flex
    justify-content: center
    align-items: center
    color: #202020

    .fa
      margin-right: 6px

    .text
      font-size: 16px

    &:not(:last-child)
      border-right: 1px solid #ddd

    &:not(.enabled)
      color: #ccc
