.list
  line-height: 44px

  .list-group.collapsed
    height: 0
    overflow: hidden

  .list-item
    .fa-check-circle
      display: none
      float: right

    &.is-selected
      .fa-check-circle
        display: inline-block
