.measured-ingredient
  display: table
  width: 100%

  /.recipe-ingredients & // TODO: find a better way to distinguish single vs. group difference/remove difference
    display: table-row
    background: #eee

  &:nth-child(even)
    background: #d8d8d8

  > *
    display: table-cell // on non-retina with *mobile* emulator, faint cell border appears (rounding bug)

  .measure
    padding: 0 0 0 12px
    white-space: nowrap
    width: 25% // TODO: get all instances to work with css table columns

    .unit
      text-transform: uppercase
      font-size: 12px
      font-weight: 600

  .ingredient
    padding: 6px 12px
    font-weight: 600
    line-height: 32px

  .toggle-button
    .fa
      font-size: 20px

    .fa-plus-circle
      color: #009e15

    .fa-times-circle
      color: #b50000
