.mixability-toggle
  display: flex
  flex-direction: row
  padding: 6px 0

  .option
    flex-grow: 1
    border: 1px solid #a8a8a8
    border-width: 1px 0 1px 1px
    color: #fff
    font-size: 12.8px
    line-height: 30px
    font-weight: 600
    text-align: center
    text-transform: uppercase
    transition: background $transition-duration-quick

    &.selected
      background: #929292

    &:first-of-type
      border-radius: 4px 0 0 4px

    &:last-of-type
      border-radius: 0 4px 4px 0
      border-width: 1px
