.navigation-header
  display: flex
  flex-direction: row
  line-height: 44px

  .fa-times
    margin-left: auto
    width: 44px

  .back-button
    flex-grow: 1
    padding: 0 8px
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis // REMOVE: we should remove the quote marks from the code, do them with :pseudo-elements

    .fa-chevron-left
      margin-right: 8px
