.next-button
  display: flex
  justify-content: flex-end
  padding: 0 12px
  line-height: 44px
  font-size: 18px
  text-transform: uppercase
  transition: color $transition-duration-quick-ish

  &.disabled
    color: #999

  .fa
    margin-left: 12px
    font-size: 20px
