.preview-recipe-list-item
  margin: 5px 0
  line-height: initial
  display: flex
  flex-direction: column

  .name
    text-transform: uppercase
    font-weight: 600

  .ingredient-list
    margin: 5px 0
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis
    padding-right: 10px

    .ingredient
      &:not(:last-child):after
        content: ', '

      &.missing
        font-weight: 600

      &.available
        opacity: 0.7
        font-weight: 400
