.recipe-list-item
  background: #fff
  padding-left: 10px
  margin-bottom: 1px

  /.headered-list &
    padding-left: 20px

  &:not(.is-mixable)
    color: #888
    font-style: italic

  .difficulty
    text-transform: uppercase
    font-style: normal
    font-size: 10px
    border: 1px solid
    border-radius: 2px
    margin-left: 8px
    padding: 0 2px

    &.easy
      color: green

    &.medium
      color: orange

    &.hard
      color: red
