@require '../shared/colors';
@require '../shared/size'

$search-bar-inset = 6px

.search-bar
  display: flex
  padding: $search-bar-inset
  height: $base-touch-size

  &.dark
    background-color: $header-background-color
    color: white

    .search-input
      color: white

      &::-webkit-input-placeholder
        color: #bbb

      &::selection
        color: white
        background: #bbb

  .rounded-border-wrapper
    border-radius: 6px
    flex: 1
    display: flex
    background-color: rgba(0, 0, 0, 0.1)

  .fa
    line-height: $base-touch-size - (2 * $search-bar-inset)
    width: $base-touch-size - (2 * $search-bar-inset)

  .search-input
    flex-grow: 1
