.search-bar
  display: flex
  flex-direction: row

  .fa
    line-height: 44px
    width: 44px

    &.fa-search
      width: 30px

  .search-input
    flex-grow: 1

.empty-list-text
  text-align: center
