@require '../shared/animation'

$switch-width = 44px
$switch-height = 24px
$handle-inset = 1px
$border-width = 1px

input[type=checkbox].switch
  width: 0
  height: 0
  position: relative
  left: (- $switch-width)
  top: ((- $switch-height) / 2)

  &:before
    position: absolute
    content: ' '
    display: block
    background-color: #ddd

    width: $switch-width
    height: $switch-height

    border-radius: ($switch-height / 2)
    transition: background-color $transition-duration
    border: $border-width solid #ccc

  &:after
    position: absolute
    content: ' '
    display: block
    background-color: white

    width: $switch-height - ($handle-inset * 2)
    height: $switch-height - ($handle-inset * 2)
    top: $handle-inset
    left: $handle-inset

    margin-top: $handle-inset - $border-width
    margin-left: $handle-inset - $border-width

    transition: left $transition-duration
    border-radius: ($switch-height / 2) - $handle-inset


  &:checked
    &:before
      background-color: #0f0

    &:after
      left: $switch-width - $switch-height + $handle-inset

