@require '../shared/colors'

.tabs
  display: flex
  flex-direction: column

  &.dark
    .tab-list
      color: white
      background-color: $header-background-color

      .tab-button.is-current
        background-color: #555

  .tab-list
    display: flex
    height: 44px // Where does this come from normally?

    .tab-button
      flex: 1
      display: flex
      align-items: center
      justify-content: center

      &.is-current
        background-color: #ddd

  .current-tab
    flex: 1
    display: flex

    > *
      flex: 1
