.tabs
  display: flex
  flex-direction: column

  .tab-list
    display: flex
    height: 44px // Where does this come from normally?

    .tab-button
      flex: 1
      display: flex
      align-items: center
      justify-content: center

  .current-tab
    flex: 1
    display: flex

    > *
      flex: 1
