@require '../shared/typography'
@require '../shared/mixins'

html, body
  // Hardware-accerlated as fuck
  transform: translateZ(0)

  box-sizing: border-box
  margin: 0
  padding: 0
  width: 100%
  height: 100%
  overflow: hidden
  font: $base-font-size/1 $base-font-family
  color: #202020
  -webkit-font-smoothing: antialiased
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
  user-select: none

*, *:before, *:after
  box-sizing: inherit

input, textarea
  font-family: inherit
  font-size: inherit
  line-height: normal // BUG: `line-height: 1` turns into `normal` regardless (though :placeholder stays at 1)
  border: none
  margin: 0
  padding: 0
  outline: none
  background: none
  appearance: none

a, a:hover, a:focus, a:active
  text-decoration: none

i.fa // TODO: move FA library styles ahead in all-styles.css, then "i" won't be necessary
  text-align: center
  line-height: inherit

.display-none
  display: none

body
  display: flex
  flex-direction: column
  zoom: 200%

#iphone-status-bar-spacer
  display: none
  background-color: #676767
  height: 20px

#iphone-status-bar-app-wrapper
  flex: 1
  position: relative

body[standalone]
  #iphone-status-bar-spacer
    display: block
