@require '../shared/animation'
@require '../shared/mixins'

$pushover-width = 86% // Looks nice. Odd numbers can cause rounding artifacts.

#modal-root, #flyup-root, #pushover-root
  abs-full-screen()

#modal-root, #flyup-root, #pushover-root
  z-index: 1
  pointer-events: none

  &.visible
    pointer-events: auto

  &.topmost
    z-index: 2 // TODO: couldn't this go on the roots that need it?

#modal-root
  > *
    opacity: 0
    transition: opacity $transition-duration

  &.visible > *
    opacity: 1

#flyup-root
  > *
    transform: translate(0, 100%)
    transition: transform $transition-duration

  &.visible > *
    transform: none

  &:before // Fades out/in underlying content
    abs-full-screen()

    z-index: -1
    content: ''
    background: rgba(0, 0, 0, 0.5)
    opacity: 0
    transition: opacity $transition-duration

  &.visible:before
    opacity: 1

#pushover-root
  > *
    width: $pushover-width
    // If same as actual pushover width, the iPhone renders weird ugly artifacts.
    transform: translate(-100%, 0)
    transition: transform $transition-duration

  &.visible > *
    transform: none

#app-root
  transition: transform $transition-duration

  &.showing-pushover
    transform: translate($pushover-width, 0)

    &:after
      pointer-events: auto
      opacity: 1

  &:after
    content: ' '
    abs-full-screen()
    pointer-events: none
    z-index: 1
    opacity: 0
    transition: opacity $transition-duration
    background-color: rgba(0, 0, 0, 0.5)
    shadow-inset('left', 3px, rgba(0, 0, 0, 0.5))
