@require '../shared/animation'
@require '../shared/mixins'

$fade-color = rgba(0, 0, 0, 0.5)
$pushover-width = 87%

// Overlay basics.

.overlay
  abs-full-screen()
  z-index: 1
  pointer-events: none

  &.visible
    pointer-events: auto

  &.topmost
    z-index: 2 // TODO: couldn't this go on the roots that need it?

#modal-root
  > *
    opacity: 0
    transition: opacity $transition-duration

  &.visible > *
    opacity: 1

#flyup-root
  > *
    transform: translate(0, 100%)
    transition: transform $transition-duration

  &.visible > *
    transform: none

#pushover-root
  > *
    width: $pushover-width
    // If same as actual pushover width, the iPhone renders weird ugly artifacts.
    transform: translate(-100%, 0)
    transition: transform $transition-duration

  &.visible > *
    transform: none

// Fade things that are not the overlay.

#app-root
  transition: transform $transition-duration

  &:after
    content: ' '
    abs-full-screen()
    background: $fade-color
    opacity: 0
    transition: opacity $transition-duration
    pointer-events: none
    z-index: 1

  /body.showing-overlay &
    &:after
      pointer-events: auto
      opacity: 1

#iphone-status-bar-spacer
  &:after
    content: ' '
    height: 20px
    display: block
    background: $fade-color
    opacity: 0
    transition: opacity $transition-duration
    z-index: 1

  /body.showing-overlay &
    &:after
      opacity: 1

// #app-root needs to understand pushovers.

body.showing-pushover #app-root
  transform: translate($pushover-width, 0)

  &:after
    shadow-inset('left', 3px, rgb(0, 0, 0, 0.25))

