@require '../shared/animation'
@require '../shared/mixins'

.fade-in
  opacity: 1
  transition: opacity $transition-duration

.fade-out
  opacity: 0
  pointer-events: none

#app-root
  abs-full-screen()

#main-loading-overlay
  abs-full-screen()
  z-index: 3
  background: #fff
  display: flex
  justify-content: center
  align-items: center

  .fa
    color: #d8d8d8
    font-size: 24px

#iphone-status-bar-spacer
  &:after
    content: ' '
    height: 20px
    display: block
    background: $fade-color
    opacity: 0
    transition: opacity $transition-duration
    z-index: 1

  /body.showing-overlay &
    &:after
      opacity: 1
