@require '../shared/animation'
@require '../shared/mixins'

.fade-in
  opacity: 1
  transition: opacity $transition-duration

.fade-out
  opacity: 0
  pointer-events: none

#main-loading-overlay, #ftue-root
  abs-full-screen()

#main-loading-overlay // TODO: should this be moved to base.styl? or somewhere
  z-index: 3
  background: #fff
  display: flex
  justify-content: center // REMOVE .centering-wrapper
  align-items: center

  /body[standalone] & // iOS status bar
    padding-top: 20px
    background-image: linear-gradient(to bottom, #000 20px, transparent 20px)

  .fa
    color: #d8d8d8
    font-size: 24px

#ftue-root // TODO: should there be a fade-in/out root, or something?
  z-index: 2
