body-font-size  = 16px
title-font-size = 20px
icon-font-size  = 20px

icon-font-size-small = 16px

touch-element-size = 44px
list-item-height   = 44px
title-bar-height   = 44px

iphone-status-bar-height = 20px

uppercase-font-size = 0.9em

standard-border-radius = 4px
