theme-color-root = #2f46de

theme-color0 = lighten(theme-color-root, 85%)
theme-color1 = lighten(theme-color-root, 30%)
theme-color2 = theme-color-root
theme-color3 = darken(theme-color-root, 30%)
theme-color4 = darken(theme-color-root, 85%)

header-text-color = #eee

grey0 = rgb(255, 255, 255)
grey1 = rgb(238, 238, 238)

grey9 = rgb(32, 32, 32) // Dunno if this is the right number but whatever.

text-color = grey9
