theme-color-root = #2f46de

theme-color0 = lighten(theme-color-root, 85%)
theme-color1 = lighten(theme-color-root, 30%)
theme-color2 = theme-color-root
theme-color3 = darken(theme-color-root, 30%)
theme-color4 = darken(theme-color-root, 85%)

header-text-color = #eee

grey0 = #fff
grey1 = #f6f6f6
grey2 = #eee

grey9 = #111 // Dunno if this is the right number but whatever.

text-color = grey9
