@require 'constants'

.deletable
  position relative

.deletable:not(.react-draggable-dragging)
  transition left transition-duration

  .delete-button
    transition width transition-duration, right transition-duration

.deletable .delete-button
  overflow hidden
  // Width is set in javascript to keep things in one place.
  position absolute
  top 0

  background-color theme-red
  font-weight 600
  text-align center
  color grey8
  height 100%

  .text
    float right

    display inline-block
    vertical-align middle

    color white

    // Gotta do this stupid thing because relative/top 50% doesn't work on the iPhone for some reason.
    &:before
      content ''
      display inline-block
      height 100%
      vertical-align middle
