@require 'constants'

horizontal-spacing = 8px
vertical-spacing = 8px

.editable-recipe-view
  .title-bar input
    width 90%
    height 100%

    text-align center

    color grey0
    font-weight 600
    font-size title-font-size

    background transparent
    border none

    &::-webkit-input-placeholder
      color grey3
      font-weight 600
      font-size title-font-size

  // A bunch of this is copy-pasted from the regular recipe display. Can refactor together?
  .fixed-content-pane
    background-color grey0

    // This is pretty blunt, but it fixes issues on iOS where the select element's dropdown was behind
    // other elements later in the DOM. Couldn't find a more precise solution based on the suggestions
    // in this article:
    // http://benfrain.com/z-index-stacking-contexts-experimental-css-and-ios-safari/
    > *
      -webkit-overflow-scrolling auto

  .recipe-description > :nth-child(odd)
    background-color grey1

  .recipe-description
    // Make iPhone overscroll look less dumb.
    > :first-child
      border-top 1px solid grey2
    // Ideally we could fill any remaining space with the last block's background color, but this will do.
    > :not(:last-child), > :last-child:nth-child(odd)
      border-bottom 1px solid grey2

    .recipe-section-header
      font-size uppercase-font-size
      text-transform uppercase
      text-align center

      padding (2 * vertical-spacing) 0 (2 * vertical-spacing)

.editable-recipe-view .recipe-ingredients .recipe-section-header + *
  margin-top 0

.editable-recipe-view .editable-ingredient
  margin-top vertical-spacing

  &:last-child
    margin-bottom vertical-spacing

.editable-recipe-view .editable-text-area
  border-radius standard-border-radius
  border 1px solid grey2
  width "calc(100% - %s)" % (2 * horizontal-spacing)
  margin-left horizontal-spacing
  margin-bottom 2 * vertical-spacing
  padding 8px

