@require 'constants'

ingredient-spacing = 8px

.editable-recipe-view
  .title-bar input
    width 90%
    height 100%

    text-align center

    color grey0
    font-weight 600
    font-size title-font-size

    background transparent
    border none

    &::-webkit-input-placeholder
      color grey3
      font-weight 600
      font-size title-font-size

  .fixed-content-pane
    background-color grey0

.editable-recipe-view
  .editable-ingredient, .deletable-ingredient
    margin-top ingredient-spacing

    &:last-child
      margin-bottom ingredient-spacing

.editable-recipe-view .deletable-ingredient
  margin-left ingredient-spacing

  > *
    display inline-block

  .icon-button
    margin-right ingredient-spacing

  // display flex
  font-weight 600

  .measure
    width 30%

    .unit
      font-size 0.75em
      text-transform uppercase

  .description
    width 70%
