@require 'constants'

.editable-ingredient2
  border 1px solid grey1
  border-radius standard-border-radius
  padding 4px

  input
    font-weight 600
    border none
    display inline-block

  .measure
    width 15%

  .unit
    width 25%

  .display
    width 60%
