@require 'constants'
@require 'mixins'

section-height = touch-element-size

// iOS standalone draggability fix.
.editable-ingredient .input-fields
  position relative

.ios-standalone-grab-target
  position absolute
  top 0
  left 0
  width 100%
  height 100%
// End fix.

.z-index-wrapper
  position relative

.editable-ingredient
  outline none

  .input-fields, .tag-guesser
    height section-height
    transition height transition-duration

  .input-fields
    border-radius standard-border-radius

  &.is-expanded .input-fields
    border-bottom-left-radius 0
    border-bottom-right-radius 0

  .tag-guesser
    border-bottom-left-radius standard-border-radius
    border-bottom-right-radius standard-border-radius

.editable-ingredient .input-fields
  background-color darken(grey1, 5%)
  padding 0 12px

  input
    background-color darken(grey1, 5%)
    vertical-align middle
    height 100%

    font-weight 600
    border none
    display inline-block

  .measure
    width 15%

  .unit
    width 25%

  .display
    width 60%

.editable-ingredient.prevent-pointer-events .input-fields input
  pointer-events none

.editable-ingredient .tag-guesser
  background-color grey2
  padding-left 12px

  > *
    display inline-block
    box-sizing border-box

  .small-text
    text-transform uppercase
    font-size 10px

  .description
    height section-height
    line-height section-height
    vertical-align top

  .guess.is-unknown
    color grey7

  .change-button-container
    text-align center

  .change-button-container .change-button
    display inline-block

    background-color grey3
    color grey6

    // Hacks. Not sure why I can't get this properly vertically align.
    margin-top -2px
    padding 6px
    border-radius 2px
    line-height 1em

  // Sizing + Layout

  .description
    width 22%
    color grey6
    margin-top 1px

  .guess
    width 54%

  .change-button-container
    width 24%

  &:not(.is-manual) .guess
    // Kind of a hack, but this is to match the padding from react-select.
    padding-left 10px

    height section-height
    line-height section-height

  &.is-manual .guess
    width 78%

.editable-ingredient:not(.is-expanded)
  border-bottom-left-radius standard-border-radius
  border-bottom-right-radius standard-border-radius

  .tag-guesser
    height 0
    transition height transition-duration

.editable-ingredient:not(.show-overflow) .tag-guesser
  overflow-y hidden

.editable-ingredient .tag-guesser .typeahead
  input
    vertical-align middle
    background-color grey2
    border none
    height section-height
    width 100%
    padding-bottom 3px

  ul
    margin 0
    padding 0
    list-style none

  input, ul
    padding-left 12px

  ul.typeahead-selector
    max-height 108px
    overflow-y scroll
    -webkit-overflow-scrolling touch
    background-color grey2
    shadow('bottom', 1px)

    border-bottom-left-radius standard-border-radius
    border-bottom-right-radius standard-border-radius

    li
      height 36px
      line-height 36px

      a
        color grey8
        text-decoration none
