@require 'constants'

.editable-ingredient
  .input-fields, .tag-guesser
    height 44px

    &:before
      content ''
      display inline-block
      height 44px
      vertical-align middle

  .input-fields
    border-top-left-radius standard-border-radius
    border-top-right-radius standard-border-radius

  .tag-guesser
    border-bottom-left-radius standard-border-radius
    border-bottom-right-radius standard-border-radius

.editable-ingredient .input-fields
  background-color grey1
  padding 4px 12px

  input
    background-color grey1
    vertical-align middle

    font-weight 600
    border none
    display inline-block

  .measure
    width 15%

  .unit
    width 25%

  .display
    width 60%

.editable-ingredient .tag-guesser
  background-color grey2
  padding-left 12px

  > *
    display inline-block
    box-sizing border-box

  .small-text
    text-transform uppercase
    font-size 10px

  .guess.is-unknown
    color grey7

  .change-button-container
    text-align center

  .change-button-container .change-button
    display inline-block

    background-color grey3
    color grey6

    // Hacks. Not sure why I can't get this properly vertically align.
    margin-top -2px
    padding 6px
    border-radius 2px
    line-height 1em

  // Sizing + Layout

  .description
    width 22%
    color grey6

  .guess
    width 54%

  .change-button-container
    width 24%

  &:not(.is-manual) .guess
    // Kind of a hack, but this is to match the padding from react-select.
    padding-left 10px
    box-sizing border-box

  &.is-manual .guess
    width 78%

.editable-ingredient .tag-guesser .Select
  vertical-align middle

  &.is-focused:not(.is-open) .Select-control
    box-shadow none
    border-color grey2

  .Select-control
    background-color grey2

    border 1px solid grey2
    height touch-element-size

    // Some hacks to get everything to line up nice.
    .Select-placeholder
      top 2px

    .Select-input
      position relative
      top 2px

    .Select-arrow
      display none

  .Select-menu-outer
    border-top none

  .Select-menu
    max-height 108px

  .Select-option
    background-color grey2
    color grey8

    &.is-focused
      background-color grey2
      color grey8
