@require 'constants'

horizontal-spacing = 8px
vertical-spacing = 8px

.editable-recipe-view
  .fixed-header
    background-color grey8
    color grey0

    border-top-left-radius inherit
    border-top-right-radius inherit

  // A bunch of this is copy-pasted from the regular recipe display. Can refactor together?
  .fixed-content-pane
    background-color grey0

  .fixed-footer
    border-bottom-left-radius inherit
    border-bottom-right-radius inherit


  .recipe-description > :nth-child(odd)
    background-color grey1

  .recipe-description
    // Make iPhone overscroll look less dumb.
    > :first-child
      border-top 1px solid grey2
    // Ideally we could fill any remaining space with the last block's background color, but this will do.
    > :not(:last-child), > :last-child:nth-child(odd)
      border-bottom 1px solid grey2

    .recipe-section-header
      font-size uppercase-font-size
      text-transform uppercase
      text-align center

      padding (2 * vertical-spacing) 0 (2 * vertical-spacing)

.editable-recipe-view .title-bar input
  width 90%
  height 100%

  text-align center

  color grey0
  font-weight 600
  font-size title-font-size

  background transparent
  border none

  &::-webkit-input-placeholder
    color grey3
    font-weight 600
    font-size title-font-size

.editable-recipe-view .recipe-ingredients .recipe-section-header + *
  margin-top 0

.editable-recipe-view .new-ingredient-button
  padding 12px 0
  margin horizontal-spacing vertical-spacing

  border-radius standard-border-radius
  text-align center
  background-color grey2

.editable-recipe-view .editable-ingredient
  padding-left horizontal-spacing
  padding-right horizontal-spacing

  margin-top vertical-spacing

  &:last-child
    margin-bottom vertical-spacing

.editable-recipe-view .editable-text-area
  border-radius standard-border-radius
  border 1px solid grey2
  width "calc(100% - %s)" % (2 * horizontal-spacing)
  margin-left horizontal-spacing
  margin-bottom 2 * vertical-spacing
  padding 8px

