@require 'constants'

between-tile-spacing = 8px

.editable-ingredient
  white-space nowrap

  .tile
    display inline-flex
    position relative

    // -1 to compensate for the weird bug named below
    margin-right between-tile-spacing - 1

    &:first-child
      margin-left between-tile-spacing

    border-radius standard-border-radius
    height touch-element-size

    transition width transition-duration

    width "calc(100% - %s)" % ((between-tile-spacing + touch-element-size) * 2 + between-tile-spacing * 2)

    &:not(.is-current)
      // +1 to adjust for some weird bug in the width of input elements
      width touch-element-size + 1

    &.is-hidden
      width 0
      overflow-x hidden
      margin-right 0
      transition width transition-duration

    > *
      display inline-block
      height inherit


  .tile .image-overlay
    position absolute
    right 0
    width touch-element-size + 1

  // Not sure why this is necessary.
  .tile.is-committed.tag .image-overlay
    z-index 1


  // HACK HACK HACK
  // Can't figure out why there's an extra pixel of space on this guy.
  .tile.tag
    transform translate(0, -1px)

  .tile .accept-button
    border-left none
    border-top-left-radius 0
    border-bottom-left-radius 0
    transition all transition-duration


  .tile .input-field
    flex 1

  .tile input.input-field
    border 1px solid grey2
    background-color grey0
    font-size body-font-size
    line-height body-font-size

    padding-left 8px
    border-radius standard-border-radius

    margin 0

    transition background-color transition-duration

  .tile.is-current input.input-field
    border-top-right-radius 0
    border-bottom-right-radius 0

  .tile:not(.is-current) input.input-field
    opacity 1 // Undo iPhone fading of disabled elements.
    color grey5
    border-color grey2
    background-color grey0a


  .tile .Select.input-field
    &.is-focused:not(.is-open) .Select-control
      box-shadow none
      border-color grey2

    .Select-control
      background-color grey0

      border 1px solid grey2
      height touch-element-size

      // Some hacks to get everything to line up nice.
      .Select-placeholder
        top 2px

      .Select-input
        position relative
        top 2px

      .Select-arrow
        margin-top 4px

    .Select-menu
      max-height 108px

    .Select-option
      background-color grey0
      color grey8

      &.is-focused
        background-color grey0
        color grey8

  .tile.is-current .Select.input-field
    .Select-control
      border-top-right-radius 0
      border-bottom-right-radius 0

  .tile:not(.is-current) .Select.input-field
    .Select-control
      padding-right 0

      border-color grey2
      background-color grey0a

      .Select-placeholder
        color grey5

    .Select-arrow
      display none
