.fixed-header-footer
  display flex
  flex-flow column

  // The reason for this bullshit can be recreated at http://jsfiddle.net/crv9asfk/
  // Notice that there, scrolling the overflowed content box scrolls the attached header too.
  position absolute
  top 0
  left 0
  right 0
  bottom 0

  .fixed-content-pane
    flex 1
    overflow scroll
    // TODO: Get this picked up by autoprefixer.
    -webkit-overflow-scrolling touch
    position relative

