@require 'constants'

@font-face
  font-family 'Source Sans Pro'
  font-style normal
  font-weight 400
  src local('Source Sans Pro'), local('SourceSansPro-Regular'), url('/fonts/SourceSansPro-Regular.ttf')

@font-face
  font-family 'Source Sans Pro'
  font-style normal
  font-weight 600
  src local('Source Sans Pro Semibold'), local('SourceSansPro-Semibold'), url('/fonts/SourceSansPro-Semibold.ttf')

@font-face
  font-family 'Source Sans Pro'
  font-style normal
  font-weight 700
  src local('Source Sans Pro Bold'), local('SourceSansPro-Bold'), url('/fonts/SourceSansPro-Bold.ttf')

html
  font-family Source Sans Pro
  font-size body-font-size
  color grey9
  background-color grey0

  user-select none

  // TODO: Why don't these work with autoprefixer?
  -webkit-font-smoothing antialiased
  -webkit-tap-highlight-color rgba(0, 0, 0, 0)

html, body
  width 100%
  height 100%
  margin 0
  padding 0
  overflow hidden

body #iphone-status-bar-spacer
  display none

#app-root
  // Necessary for stupid hackery with fixed-header-footer.
  position relative
  height 100%

body[standalone]
  #app-root
    height "calc(100% - %s)" % iphone-status-bar-height

  #iphone-status-bar-spacer
    display block
    height iphone-status-bar-height
    width 100%
    background-color grey8a

.float-left
  float left

.float-right
  float right

input[type="text"], button
  outline none
  appearance none
  -webkit-appearance none

  // Need to specify this even though it should be inherited?
  font-family 'Source Sans Pro'

  &::-webkit-input-placeholder
    font-family 'Source Sans Pro'
