@require 'sizes'

transition-duration = 0.33s
icon-width = title-bar-height

.header
  height title-bar-height
  font-size title-font-size
  font-weight 500
  text-align center

  i.fa, .header-title
    height title-bar-height
    line-height title-bar-height

  i.fa
    padding 0 12px 0
    box-sizing border-box
    width icon-width

.header.with-search
  position relative

  .search-bar-wrapper
    position absolute

    top 6px
    right icon-width
    bottom 6px

    overflow hidden

    &.hidden
      width 0
      opacity 0
      transition opacity 0s ease transition-duration, width transition-duration

    &.visible
      width "calc(100% - %s)" % (icon-width * 2)
      opacity 1
      transition opacity 0s, width transition-duration
