@require 'constants'

.icon-button
  box-sizing border-box
  width touch-element-size
  line-height touch-element-size
  vertical-align middle
  text-align center

  background-color grey0a
  border 1px solid grey2
  border-radius standard-border-radius

  i.fa
    line-height inherit
    font-size icon-font-size
