@require 'colors'
@require 'sizes'

.sticky-header-container
  position relative

  .sticky-header-wrapper
    position absolute
    top 0
    width 100%
    z-index 1

.ingredients-footer
  box-shadow inset 0px 3px 3px 0px rgba(0,0,0,0.25)
  background-color grey8
  color grey0

  font-size header-footer-font-size
  text-align center

  height 100%

  .fa, .footer-title
    line-height header-footer-size

  .fa
    width 20px
    padding 0 12px 0

  // Visual correction.
  .fa.fa-square-o, .fa.fa-check-square-o
    margin-top 1px

  // Visual correction.
  .fa.fa-check-square-o
    padding-left 14px
    padding-right 10px

  .fa.float-left
    border-right 1px solid grey7

  .fa.float-right
    border-left 1px solid grey7

.ingredient-list
  height 100%
  overflow scroll

.ingredient-list-item
  .ingredient-icon
    margin 0 5px

  .name
    display inline-block

  &.is-selected
    background-color theme-color0

    i.fa
      color theme-color2
