@require 'constants'
@require 'mixins'

right-padding = 12px

.title-bar.ingredients-footer
  shadow-inset('top', 3px)
  background-color grey8a
  color grey0

  .fa.float-left
    border-right 1px solid grey7

  .fa.float-right
    border-left 1px solid grey7

  // Visual corrections.
  .fa.fa-square-o, .fa.fa-check-square-o
    padding-top 1px
    overflow hidden

  .fa.fa-check-square-o
    padding-left 14px
    padding-right 10px

  .fa.fa-shopping-cart
    padding-left 11px
    padding-right 13px

.ingredient-selection-view
  background-color grey8a

  .title-bar
    color grey0

  .search-bar
    box-sizing border-box
    height list-item-height
    padding 6px 12px

    i.fa
      padding-right 12px

  .fixed-header
    // Use a non-alpha color so it looks better when it overlays lighter elements.
    shadow('bottom', 2px, darken(grey8a, 25%))
    z-index 1 // To see the shadow.

.list.ingredient-list.headered-list
  background-color grey8a

  .list-header, .list-item
    padding-left 16px

  .list-header
    background-color grey8a
    color grey5
    text-transform uppercase
    font-size uppercase-font-size
    line-height list-item-height
    font-weight 600

    border-top 1px solid lighten(grey8a, 5%)

    .count
      float right
      // Unfortunately this magic constant has to stay -- normally line-height would take care of
      // vertically centering things, but because we have to reduce the line height to not mess up
      // the background coloration.
      margin-top 14px
      margin-right right-padding
      padding 2px
      line-height 1em
      min-width 1em

      background-color grey8
      border-radius standard-border-radius

      color grey5
      text-align center
      font-weight 700

  .list-group
    transition height 0.33s

    .collapsed
      transition height 0.33s

    .list-item:first-child
      shadow-inset('top', 2px)

  .list-item
    line-height list-item-height
    background-color grey8
    color grey1

    i.fa
      display none

      float right
      padding-right right-padding
      font-size icon-font-size
      line-height inherit

      color grey5

      text-shadow 0px 0px 2px rgba(0, 0, 0, 0.5)

    &.is-selected i.fa
      display inline-block

    .name
      display inline-block

    &:not(:first-child)
      border-top 1px solid darken(grey8, 5%)

  .empty-list-text
    color grey5
    text-align center
    line-height list-item-height
