@require 'mixins'
@require 'colors'
@require 'sizes'

.ingredients-footer
  box-shadow inset 0px 3px 3px 0px rgba(0, 0, 0, 0.25)
  background-color grey8a
  color grey0

  font-size header-footer-font-size
  text-align center

  height 100%

  .fa, .footer-title
    line-height header-footer-size

  .fa
    width 20px
    padding 0 12px 0

  // Visual correction.
  .fa.fa-square-o, .fa.fa-check-square-o
    margin-top 1px

  // Visual correction.
  .fa.fa-check-square-o
    padding-left 14px
    padding-right 10px

  .fa.float-left
    border-right 1px solid grey7

  .fa.float-right
    border-left 1px solid grey7

.ingredient-list-view
  fixed-header-footer-container header-footer-size, 0

  background-color grey8a

  .ingredient-header
    color grey0

    .search-bar-wrapper
      color grey7

  .ingredient-selection-list
    .ingredient-group-header, .ingredient-list-item
      padding-left 12px

    .ingredient-group-header
      color grey5
      text-transform uppercase
      font-size 14px
      line-height list-item-size
      font-weight 500

      border-top 1px solid lighten(grey8a, 5%)

    .ingredient-section .ingredient-list-item:first-child
      box-shadow inset 0px 2px 2px 0px rgba(0, 0, 0, 0.25)

    // .ingredient-section .ingredient-list-item:last-child
    //   box-shadow inset 0px -2px -2px 0px rgba(0, 0, 0, 0.25)

    .ingredient-list-item
      line-height list-item-size
      background-color grey8
      color grey1

      i.fa
        display none

        float right
        padding-right 12px
        // TODO: This is probably some kind of standard size. What should it be called?
        font-size 20px
        line-height list-item-size

        color grey5

        text-shadow 0px 0px 2px rgba(0, 0, 0, 0.5)

      &.is-selected i.fa
        display inline-block

      .name
        display inline-block

      &:not(:last-child)
        border-bottom 1px solid darken(grey8, 5%)
