@require 'constants'
@require 'mixins'

right-padding = 12px

.ingredient-selection-view
  background-color grey1

  .title-bar
    color grey10

  .search-bar
    .fa, input
      color grey7

  .fixed-header
    // Use a non-alpha color so it looks better when it overlays lighter elements.
    shadow('bottom', 2px, darken(grey1, 25%))
    z-index 1 // To see the shadow.
