@require 'sizes'
@require 'colors'

.list
  .list-item
    font-size 16px
    line-height list-item-size

    padding-left 12px

    background-color grey0

    &:not(:first-child)
      border-top 1px solid darken(grey0, 5%)

  .empty-list-text
    text-align center
    line-height list-item-size

.list.headered-list
  .list-header
    font-size 14px
    background-color grey1
    color grey7
    text-transform uppercase
    padding-left 8px

.list.headered-list.collapsible-list
  .list-group
    height auto
    transition height 1s

  .list-group.collapsed
    height 0
    transition height 1s
    overflow hidden
