@require 'constants'

.list
  .list-item
    line-height list-item-height

    padding-left 12px

    background-color grey0

    &:not(:first-child)
      border-top 1px solid darken(grey0, 5%)

  .empty-list-text
    text-align center
    line-height list-item-height

.list.headered-list
  .list-header
    font-size uppercase-font-size
    background-color grey1
    color grey7
    text-transform uppercase
    padding-left 8px

.list.headered-list.collapsible-list
  .list-group
    overflow hidden

    &.collapsed
      height 0

.list .addable-list-item
  // Force line-height to apply even though there's no actual text in this node.
  &:before
    content '\00a0' // nbsp
    width 0
    display inline-block

  input
    background-color transparent
    border none

    width "calc(100% - %s)" % list-item-height
    line-height inherit

    color inherit

    &::-webkit-input-placeholder
      font-style italic

  i.fa
    color inherit
    line-height list-item-height
    width list-item-height

    text-align center

  i.fa:not(.enabled)
    color grey5
