@require 'colors'

.list-header
  font-size 16px
  background-color grey1
  text-transform uppercase

  .text
    margin 0 6px

.list-item
  font-size 16px
  line-height 44px

  margin-left 6px

  background-color grey0
