@require 'constants'

.list
  .list-item
    line-height list-item-height

    padding-left 12px

    background-color grey0

    &:not(:first-child)
      border-top 1px solid darken(grey0, 5%)

  .empty-list-text
    text-align center
    line-height list-item-height

.list.headered-list
  .list-header
    font-size uppercase-font-size
    background-color grey1
    color grey7
    text-transform uppercase
    padding-left 8px

.list.headered-list.collapsible-list
  .list-group
    overflow hidden

    &.collapsed
      height 0

.list-item.deletable .delete-button
  overflow hidden
  // Width is set in javascript to keep things in one place.
  position absolute
  top 0

  background-color red
  font-weight 600
  text-align center
  color grey1
  height 100%

  .text
    display inline-block
    vertical-align middle

    // Gotta do this stupid thing because relative/top 50% doesn't work on the iPhone for some reason.
    &:before
      content ''
      display inline-block
      height 100%
      vertical-align middle

