shadow(position, size, color = rgba(0, 0, 0, 0.25))
  if position == 'top'
    box-shadow 0px (- size) size 0px color
  else if position == 'bottom'
    box-shadow 0px size size 0px color
  else if position == 'left'
    box-shadow (- size) 0px size 0px color
  else if position == 'right'
    box-shadow size 0px size 0px color

// Need to do awkward thing to negate variables: https://github.com/LearnBoost/stylus/issues/980
shadow-inset(position, size, color = rgba(0, 0, 0, 0.25))
  if position == 'top'
    box-shadow inset 0px size size 0px color
  else if position == 'bottom'
    box-shadow inset 0px (- size) size 0px color
  else if position == 'left'
    box-shadow inset size 0px size 0px color
  else if position == 'right'
    box-shadow inset (- size) 0px size 0px color

// This should maybe be a proper class rather than a mixin...?
full-screen()
  position absolute
  top 0
  bottom 0
  left 0
  right 0

fade()
  &.fade
    opacity 1
    transition opacity transition-duration

  &.fade-out
    opacity 0
    pointer-events none

zebra(odd-color, even-color)
  &:nth-child(odd)
    background-color odd-color

  &:nth-child(even)
    background-color even-color

// Per the Autoprefixer readme, appearance is not in any spec and therefore not supported.
appearance(value)
  appearance value
  -webkit-appearance value
