// This should match up with the constant in the view code.
transition-duration = 0.33s
pushover-width = 87%

body[standalone]
  #modal-root, #flyup-root, #pushover-root
    top 20px

#app-root
  transition transform transition-duration

  &:after
    pointer-events none
    content ''
    width 100%
    height 100%
    position absolute
    top 0
    left 0
    right 0
    bottom 0
    z-index 1
    box-shadow inset 4px 0px 4px 0px rgba(0, 0, 0, 0.25)

    background-color rgba(0, 0, 0, 0.25)
    opacity 0
    transition opacity transition-duration

#app-root.showing-pushover
  transform translate(pushover-width, 0px)
  transition transform transition-duration

  &:after
    pointer-events auto
    opacity 1
    transition opacity transition-duration

#modal-root, #flyup-root, #pushover-root
  // This is an awkward interaction between transitions and the js cleanup steps that happen when
  // these views are hidden: we clean them up after 1 second to allow the CSS transitions to make
  // it happen in a pretty way, but while it's invisible it's still in the way. So we have to do
  // this pointer-events thing so interactions work.
  pointer-events none

  position absolute

  top 0
  left 0
  right 0
  bottom 0

  z-index 1

  &.topmost
    z-index 2

  .content
    position absolute

    top 0
    left 0
    right 0
    bottom 0

#modal-root, #flyup-root, #pushover-root
  &.visible
    pointer-events auto

#pushover-root
  width pushover-width

  .content
    // We can do a sweet parallax-y transition if we make this greater than the width.
    transform translate(-(pushover-width), 0)
    transition transform transition-duration

  &.visible .content
    transform none
    transition transform transition-duration

#modal-root
  .content
    background-color rgba(0, 0, 0, 0.5)

    opacity 0
    transition opacity transition-duration

  &.visible .content
    opacity 1
    transition opacity transition-duration

#flyup-root
  .content
    transform translate(0, 100%)
    transition transform transition-duration

  &.visible .content
    transform none
    transition transform transition-duration
