@require 'mixins'
@require 'colors'

.paginated-view
  fixed-header-container 24px

.paginated-bar
  display flex

  color header-text-color
  background-color theme-color2

  .paginated-title
    display flex
    flex-basis 0
    flex-grow 1

    font-size 20px

  .paginated-control
    display flex
    flex-basis 0
    flex-grow 1

    font-size 16px

    &.left
      justify-content flex-start

    &.right
      justify-content flex-end
