@require 'constants'

.recipe-list-item.list-item
  padding-left 16px
  border none

  &.incomplete
    padding-bottom 12px

  &:not(.is-mixable)
    color grey4
    font-style italic

  .mixability
    display inline-block
    position relative
    top -2px
    margin-left 8px
    padding 1px

    font-size 0.7em
    font-style normal

    line-height 1em
    min-width 1em
    text-align center

    border 1px solid grey4
    border-radius standard-border-radius
