@require 'constants'

ingredient-height = list-item-height
horizontal-padding = 12px

.swipable-padding-wrapper
  display inline-block
  box-sizing border-box
  height 100%
  width 94%
  position relative
  padding 12px 1%

  .swipable-position-wrapper
    position relative
    height 100%
    width 100%

  .default-modal
    padding inherit

    width 100%
    height 100%

.recipe-view
  background-color grey10

  .fixed-header
    height title-bar-height

  .fixed-content-pane
    padding 0 8px

.recipe-view .recipe-instructions
  padding-left 32px
  padding-right horizontal-padding
  margin 0

  .text-line:not(:last-child)
    margin-bottom 6px

.recipe-view .recipe-notes
  padding 0 horizontal-padding

.recipe-view .recipe-ingredients .measured-ingredient
  font-weight 600
  min-height ingredient-height
  line-height (ingredient-height - 2px) // inline-block extra pixels bullshit
  padding 0 horizontal-padding

  &:nth-child(odd)
    background-color grey8

  &:nth-child(even)
    background-color grey7

  white-space nowrap

  > *
    display inline-block

  .measure
    min-width 25%
    box-sizing border-box
    padding-right 6px

    .unit
      font-size 0.75em
      text-transform uppercase

  .ingredient
    width 75%

  &.missing .measure, &.missing .ingredient, &.substituted .ingredient
    font-style italic
    color grey5

  &.substituted
    .substitute-label, .substitute-content
      font-size 0.8em
      line-height (ingredient-height * 0.6)

    .substitute-label
      color grey5
      vertical-align top
      margin-left 25%
      margin-right 6px

    .substitute-content
      margin-bottom 8px

      :not(:first-child)
        display block

.recipe-view
  .recipe-instructions, .recipe-notes
    margin-top 12px
