@require 'mixins'
@require 'colors'
@require 'sizes'

.recipe-list-view
  fixed-header-footer-container header-footer-size, 0

// TODO: When we refactor the view for this, also move this styling out of here.
.ingredient-header, .recipe-header
  font-size header-footer-font-size
  font-weight 500
  text-align center

  height 100%

  position relative

  .fa, .header-title
    line-height header-footer-size

  .fa
    padding 0 12px 0

.recipe-view
  fixed-header-footer-container header-footer-size, header-footer-size

  width calc(100% - 24px)
  height calc(100% - 48px)

  margin-left 12px
  margin-top 24px

  background-color grey0
  border-radius 4px

  .recipe-title, .recipe-controls
    font-size header-footer-font-size
    font-weight 500
    line-height header-footer-size

    background-color grey8
    color grey0

  .recipe-title
    text-align center

    border-top-left-radius inherit
    border-top-right-radius inherit

  .recipe-section-header
    font-size 14px
    text-transform uppercase
    text-align center
    padding 16px 0 16px

  .recipe-description > :nth-child(odd)
    background-color grey1

  .recipe-description
    // Make iPhone overscroll look less dumb.
    > :first-child
      border-top 1px solid grey2
    // Ideally we could fill any remaining space with the last block's background color, but this will do.
    > :not(:last-child), > :last-child:nth-child(odd)
      border-bottom 1px solid grey2

  .recipe-ingredients, .recipe-instructions, .recipe-notes
    padding 0 20px 20px

  .recipe-ingredients .measured-ingredient
    display flex
    font-weight 500

    .measure
      width 25%

      .unit
        font-size 0.75em
        text-transform uppercase

    .ingredient
      width 75%

  .recipe-instructions .text .text-line:not(:last-child)
    margin-bottom 6px

  .recipe-notes
    //

  .recipe-controls
    font-size slightly-smaller-size
    text-transform uppercase

    border-bottom-left-radius inherit
    border-bottom-right-radius inherit

    .save-to-button, .close-button
      display inline-block
      text-align center

      .fa
        margin-left 6px
        margin-right 6px

    .save-to-button
      width calc(50% - 1px)
      border-right 1px solid grey7

    .close-button
      width 50%
