@require 'constants'

.recipe-filter-list-view
  background-color grey2

  .fixed-header
    color grey10

.recipe-filter-list.headered-list
  font-weight 600

  .list-header
    color grey4
    background-color transparent
    margin-bottom 6px

  .list-header:not(:first-child)
    margin-top 24px

  .list-item
    background-color transparent
    border-color grey2
    color grey10

    &.selected
      background-color grey3

  .list-item:first-child
    border-top 1px solid darken(grey10, 5%)
