@require 'constants'

.recipe-list-view
  .missing-ingredient
    font-size 0.9em
    line-height 1.2em
    padding-left 12px
    color theme-red

    .unit
      font-size 0.75em
      text-transform uppercase
      font-weight 600

.recipe-list-view .list .list-header
  color grey0

  height 1px
  background-color transparent
  line-height 0
  padding-left 6px

  &:after
    content ' '
    height 1px
    background-color grey5
    width calc(100% - 14px - 8px) // 12 for margin (left); 8 for right
    margin-left 14px
    display block
