@require 'constants'

.recipe-list-view
  .missing-ingredient
    font-size 0.9em
    line-height 1.2em
    padding-left 12px
    color theme-red

    .unit
      font-size 0.75em
      text-transform uppercase
      font-weight 600

.recipe-list-view .list .list-header
  color grey9

  height 1px
  background-color transparent
  line-height 0
  padding-left 6px

  &:after
    content ' '
    height 1px
    background-color grey5
    width calc(100% - 14px - 8px) // 12 for margin (left); 8 for right
    margin-left 14px
    display block

.recipe-list-view .list .list-item
  padding-left 16px
  border none

  &.incomplete
    padding-bottom 12px

  &:not(.is-mixable)
    color grey6
    font-style italic

  .mixability
    display inline-block
    position relative
    top -2px
    margin-left 8px
    padding 1px

    font-size 0.7em
    font-style normal

    line-height 1em
    min-width 1em
    text-align center

    border 1px solid grey6
    border-radius standard-border-radius
