@require 'mixins'
@require 'colors'
@require 'sizes'

.search-bar
  height 100%
  width 100%

  input
    font-size 16px
    height 100%
    width 100%
    outline none

  position relative

  i.fa
    font-size 20px
    line-height 0

    position absolute
    right 0

    padding 16px 6px 16px

.recipe-list-view
  fixed-header-footer-container header-footer-size, 0

.recipe-header
  font-size header-footer-font-size
  text-align center

  height 100%

  position relative

  .fa, .header-title
    line-height header-footer-size

  .fa
    padding 0 12px 0

  .search-bar-wrapper
    position absolute

    top 6px
    right 36px
    bottom 6px

    overflow hidden

    &.hidden
      width 0
      opacity 0
      transition opacity 0s ease 0.5s, width 0.5s

    &.visible
      width calc(100% - 42px) // 6px + 36px
      opacity 1
      transition opacity 0s, width 0.5s


.recipe-list
  height 100%
  overflow scroll

.recipe-view
  fixed-header-footer-container header-footer-size, header-footer-size

  width calc(100% - 24px)
  height calc(100% - 48px)

  margin-left 12px
  margin-top 24px

  background-color grey0
  border-radius 4px

  .recipe-title, .recipe-controls
    font-size header-footer-font-size
    line-height header-footer-size

    background-color grey8
    color grey0

  .recipe-title
    text-align center

    border-top-left-radius inherit
    border-top-right-radius inherit

  .recipe-controls
    font-size slightly-smaller-size
    text-transform uppercase

    border-bottom-left-radius inherit
    border-bottom-right-radius inherit

    .save-to-button, .close-button
      display inline-block
      text-align center

      .fa
        margin-left 6px
        margin-right 6px

    .save-to-button
      width calc(50% - 1px)
      border-right 1px solid grey7

    .close-button
      width 50%

  .ingredient-section-header, .header
    font-size 20px
    background-color #eee

  .recipe-instructions, .recipe-notes
    margin-top 6px
