@require 'constants'

vertical-padding = 6px

.title-bar.recipe-list-header, .base-liquor-container
  background-color grey7

.title-bar.recipe-list-header
  font-size inherit

  .mixability-selector
    display flex

    box-sizing border-box
    height title-bar-height
    padding vertical-padding 0

  .mixability-selector .option
    flex 1
    text-align center

    text-transform uppercase
    font-size uppercase-font-size - 0.1em
    border 1px solid grey5
    color grey0
    // I'm fucking sick of not being able to sanely and simply vertically-align things.
    line-height (title-bar-height - (vertical-padding + 1px) * 2)

    background-color transparent
    transition background-color transition-duration-quick, color transition-duration-quick

    &.selected
      background-color grey6

    &:not(:first-child)
      border-left none

    &:first-child
      border-top-left-radius standard-border-radius
      border-bottom-left-radius standard-border-radius

    &:last-child
      border-top-right-radius standard-border-radius
      border-bottom-right-radius standard-border-radius

  i.fa
    color grey0

.base-liquor-container
  height title-bar-height
  width 100%
  font-size title-font-size

  .base-liquor-option
    width 25%
    text-transform uppercase
    font-size uppercase-font-size
    font-weight 600
    text-align center

    height 100%
    line-height title-bar-height

    &.selected
      color grey0

    &:not(.selected)
      color grey3

  // For the arrow.
  position relative

  // Arrow.
  &:after
    bottom 0
    left 50%
    border solid transparent
    content ' '
    height 0
    width 0
    position absolute
    pointer-events none
    border-color rgba(255, 255, 255, 0)
    border-bottom-color grey0
    border-width 8px
    margin-left -8px
