@require 'constants'
@require 'mixins'

.title-bar.recipe-list-header
  font-size inherit

  form
    display flex

    box-sizing border-box
    height title-bar-height
    padding 8px 0

  form label
    flex 1
    text-align center

    text-transform uppercase
    font-size uppercase-font-size
    border 1px solid grey7
    color grey8

    &.selected
      color grey0
      background-color grey6

    &:not(:first-child)
      border-left none

    &:first-child
      border-top-left-radius standard-border-radius
      border-bottom-left-radius standard-border-radius

    &:last-child
      border-top-right-radius standard-border-radius
      border-bottom-right-radius standard-border-radius

    span
      // I'm fucking sick of not being able to sanely and simply vertically-align things.
      line-height (title-bar-height - 16px - 2px)

.swipable-wrapper
  display inline-block
  height 100%

.recipe-list-view
  .fixed-header
    shadow('bottom', 2px)
    z-index 1 // To see the shadow.

  .missing-ingredient
    font-size 0.9em
    line-height 1.2em
    padding-left 12px
    color theme-red

    .unit
      font-size 0.75em
      text-transform uppercase
      font-weight 600

.recipe-list-view .recipe-list-item
  &.incomplete
    padding-bottom 12px

  .mixability
    float right
    // Unfortunately this magic constant has to stay -- normally line-height would take care of
    // vertically centering things, but because we have to reduce the line height to not mess up
    // the background coloration.
    margin-top 14px
    margin-right 12px

  .mixability.mixable
    //

  .mixability.near-mixable
    padding 1px

    font-size 0.7em

    line-height 1em
    min-width 1em

    border 1px solid theme-red
    border-radius standard-border-radius

    color theme-red
    text-align center

// Okay this is not great, but it's probably marginally better than copy-pasting.
.recipe-view, .editable-recipe-view
  .fixed-header
    background-color grey8
    color grey0

    border-top-left-radius inherit
    border-top-right-radius inherit

  .fixed-footer
    border-bottom-left-radius inherit
    border-bottom-right-radius inherit

.recipe-view
  .recipe-description > :nth-child(odd)
    background-color grey1

  .fixed-content-pane
    background-color grey0

  .recipe-description
    // Make iPhone overscroll look less dumb.
    > :first-child
      border-top 1px solid grey2
    // Ideally we could fill any remaining space with the last block's background color, but this will do.
    > :not(:last-child), > :last-child:nth-child(odd)
      border-bottom 1px solid grey2

    .recipe-ingredients, .recipe-instructions, .recipe-notes
      padding 0 20px 20px

    .recipe-section-header
      font-size uppercase-font-size
      text-transform uppercase
      text-align center

      padding 16px 0 16px

    .recipe-ingredients .measured-ingredient
      font-weight 600

      > *
        display inline-block

      .measure
        width 30%

        .unit
          font-size 0.75em
          text-transform uppercase

      .ingredient
        width 70%

      .ingredient-subtitle
        position relative
        left 30%
        width 70%

        font-size 0.75em

    .recipe-instructions .text .text-line:not(:last-child)
      margin-bottom 6px

    .recipe-notes
      //

  .fixed-header, .fixed-footer
    border-bottom-left-radius inherit
    border-bottom-right-radius inherit
