@require 'colors'

.search-bar
  height 100%
  width 100%

  position relative

  input
    appearance none
    -webkit-appearance none

    font-size 16px
    height 100%
    width 100%
    outline none

    border 1px solid grey5
    border-radius 4px
    box-shadow none

    padding-left 4px

    &::-webkit-input-placeholder
      font-size 16px

  i.fa
    font-size 20px

    position absolute
    right 0

    padding 0
    width 32px
    height 32px
    line-height 32px
