@require 'constants'
@require 'mixins'

.shopping-list-view
  background-color grey0

  .search-bar
    box-sizing border-box
    height list-item-height
    padding 6px 12px

    i.fa
      padding-right 12px

  .fixed-header
    shadow('bottom', 2px)
    z-index 1 // To see the shadow.

  .missing-ingredient
    font-size 0.9em
    line-height 1.2em
    padding-left 12px
    color theme-red

    .unit
      font-size 0.75em
      text-transform uppercase
      font-weight 600

    &:last-child
      padding-bottom 12px
