@require 'constants'

.shopping-list-view
  background-color grey0

  .missing-ingredient
    font-size 0.9em
    line-height 1.2em
    padding-left 12px
    color theme-red

    .unit
      font-size 0.75em
      text-transform uppercase
      font-weight 600

    &:last-child
      padding-bottom 12px
