@require 'mixins'
@require 'colors'
@require 'sizes'

.shopping-list-view
  fixed-header-footer-container header-footer-size, 0

  background-color grey0

  .missing-ingredient
    font-size 14px
    line-height 18px
    padding-left 12px
    color theme-red

    &:last-child
      padding-bottom 12px
