@require 'constants'

.sticky-header-container
  position relative

  .sticky-header-wrapper
    position absolute
    top 0
    width 100%
    z-index 1

  .sticky-header-list
    height 100%
    overflow scroll

  .list-header
    font-size 14px
    background-color grey1
    color grey7
    text-transform uppercase

    .text
      padding-left 8px

  .list-item
    font-size 16px
    line-height list-item-height

    padding-left 16px

    background-color grey0

    &:not(:first-child)
      border-top 1px solid darken(grey0, 5%)

  .empty-list-text
    text-align center
    line-height list-item-height
