@require 'mixins'
@require 'colors'

.tabbed-view
  fixed-header-container 24px

.tab-bar
  display flex
  width 100%

  color header-text-color
  background-color theme-color2

  i.fa
    margin-right 6px

  .tab
    flex-grow 1
    text-align center
    font-size 20px
